@import "tailwindcss";

@theme {
  --text-h1: 50px;
  --text-h2: 40px;
  --text-h3: 32px;  
  --text-h4: 24px;
  --text-h5: 18px;
  --text-h6: 12px;
  --color-background1: #F2F7FA;
  --color-blue1: #BBE1FA;
  --color-blue2: #3282B8;
  --color-blue3: #0F4C75;
  --color-blue4: #1B262C;
}

body {
  background: url("../../public/background.svg");
  background-size: cover;
  background-position: center;
  color: gray;
  font-family: monospace, Arial, Helvetica, sans-serif;
}



/* Hovers for Component */
#get-started:hover {
  transform: scale(.90);
  background-color: #328100;
}

#cards:hover {
  transform: scale(.90);
  border: 1px solid blue;
}

#x-button:hover {
  transform: scale(.90);
  background-color: #e4e4e4;
  transition: transform .3s ease, background-color 0.3s ease;
}
